.profile-view__container {
    background-color: #fff;
    padding: 24px;
    width:100%;
    max-width: 560px;
    border-radius: 6px;
}

.profile-view__center-container { 
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.profile-view__message {
    font-weight: bold;
}

.profile-view__logoutbutton {
    background: red;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px;
    border: 0px;
    border-radius: 100px;
    margin-top: 24px;
    color: #fff;
    margin-right: auto;
}

