@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background:#f2f2f2;
    display: grid;
}

button, label, input, img {
    display: block;
}